@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.main_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.main_body {
    width: 1500px;
    padding: 0 1.25rem;
    margin-top: 5rem;
}

.main_gap {
    display: flex;
    gap: 15rem;
    flex-direction: column;
    justify-content: center;
}

.main_first {
    justify-content: center;
    display: flex;
}

.main_title {
    font-size: 9rem;
    font-family: "Crimson Text", serif;
    text-align: center;
    font-weight: 600;
    line-height: 1;
}

.main_box {
    width: 100%;
    background-color: pink;
    border-radius:3.125rem;
    height: 22.5rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.main_display {
    position: absolute;
    background-color: black;
    height: 31.5rem;
    min-width: 70%;
    border-radius: 1rem 1rem 0 0;
    top: -9rem;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    box-sizing: border-box;
}

.main_img {
    position: absolute;
    width: calc(100% - 1.9rem);
    height: calc(100% - 0.95rem);
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    object-fit: cover;
    object-position: center 0%;
}

.main_ABILITIES {
    padding: 3.125rem 0;
    font-family: "DM Sans:Medium", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}

.main_ABILITIES h2 {
    font-family: "Crimson Text", serif;
    font-size: 3.75rem;
    font-weight: 500;
    margin: 0;
}


.main_profile {
    display: flex;
    gap: 1.25rem;
    padding-bottom: 3.75rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.abil {
    font-family: "Crimson Text", serif;
    font-size: 3.75rem;
    font-weight: 500;
    margin: 0;
}
@media (max-width: 960px) {
    .main_profile {
        flex-direction: column;
        align-items: center;
    }

    .main_profile_text,
    .main_profile_img {
        width: 100%;
        min-width: 300px;
    }

    .main_profile_img {
        height: auto;
    }
    .main_title{
        font-size: clamp(6rem, 6vw + 1rem, 9rem);
    }
    .main_body{
        margin-top: 8.75rem;
    }
}
html {
    scroll-behavior: smooth;
}
@media (max-width: 660px){
    .main_title{
        font-size: clamp(4rem, 6vw + 1rem, 6rem);
    }
    .main_body {
        padding: 0 0.75rem;
    }
    .main_box {
        height: 20.5rem;
    }
    
    .main_display {
        height: 29.5rem;
    }
}