@import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.main_tool {
    padding: 1.875rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.25rem;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    flex-wrap: wrap;
    width: 100%;
}

.main_tools_content {
    min-height: 31.25rem;
}

.main_tools hr {
    margin: 1.25rem 0;
}

.main_tools h2 {
    margin-bottom: 1.75rem;
    padding: 0px 0.625rem;
}

.main_tools div {
    padding: 0px 0.625rem;
}

.main_tool_img {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 0.2rem;
    column-gap: 2rem;
    row-gap: 1rem;
}

.main_tool_img img {
    width: auto;
    height: 5rem;
}

.main_tool_subtitle {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    margin-top: 1rem;
    color: #6F6F6F;
}

.main_tool_subtitle_detail {
    font-family: "Noto Sans KR", sans-serif;
    color: #6F6F6F;
}
@media (max-width: 768px) {
    .main_tool{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        padding: 0 1rem;
        gap: 0;
    }
}