@import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.main_tool {
    padding: 30px 0;
    /* font-family: "DM Sans:Medium", sans-serif; */
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;
    font-family: "Crimson Text", serif;
    flex-wrap: wrap;
    width: 100%;
}

.main_tools_content {
    min-height: 560px;
}

.main_tools {
    flex: 1 1 460px;
}

.main_tools hr {
    margin: 20px 0;
}

.main_tools h2 {
    margin-bottom: 30px;
    padding: 0px 10px;
}

.main_tools div {
    padding: 0px 10px;
}

.main_tool_img {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 20px;
    gap: 40px
}

.main_tool_img img {
    width: 80px;
    height: auto;
}

.main_tool_img_ {
    display: flex;
    box-sizing: border-box;
    margin-bottom: 10px;
    gap: 40px
}

.main_tool_img_ img {
    width: auto;
    height: 80px;
}

.main_tool_subtitle {
    font-family: "DM Sans:Medium", sans-serif;
    font-weight: 600;
    margin-top: 15px;
    color: #6F6F6F;
}

.main_tool_subtitle_detail {
    font-family: "DM Sans:Medium", sans-serif;
    color: #6F6F6F;
}
