.main_profile_text {
    flex: 1 1 0;
    min-width: 600px;
}

.main_profile_title {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main_profile_text>hr {
    margin-bottom: 60px;
}

.main_profile_text h2 {
    font-family: "Crimson Text", serif;
    font-size: 60px;
    font-weight: 500;
    margin: 0;
}

.main_profile_img {
    flex: 1 1 0;
    min-width: 600px;
    height: 711px;
    border-radius: 30px;
    object-fit: cover;
}

.main_profile_detail {
    display: flex;
}

.main_profile_content {
    font-family: "DM Sans:Medium", sans-serif;
    margin-bottom: 20px;
}

.main_profile_detail_bo {
    margin-bottom: 80px;
}

.main_profile_detail_bo hr {
    margin: 20px 0;
}

.table_title {
    font-weight: 600;
}
@media (max-width: 1024px) {
    .main_profile_text,
    .main_profile_img {
        width: 100%;
        min-width: 300px;
    }

    .main_profile_img {
        height: auto;
    }
}
