@import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.main_profile_text {
    flex: 1 1 0;
    min-width: 31.25rem;
}

.main_profile_title {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.main_profile_text>hr {
    margin-bottom: 3.75rem;
}

.main_profile_text h2 {
    font-family: "Crimson Text", serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin: 0;
}

.main_profile_img {
    flex: 1 1 0;
    min-width: 31.25rem;
    height: 44.5rem;
    border-radius: 1.875rem;
    object-fit: cover;
}

.main_profile_detail {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
}

.main_profile_content {
    font-family: "Noto Sans KR", sans-serif;
    margin-bottom: 1.25rem;
    display: flex;
    gap: 1rem;
}
.main_profile_content div{
    font-weight: bold;
    font-size: 0.875rem;
}

.main_profile_detail_bo {
    margin-bottom: 5rem;
}

.main_profile_detail_bo hr {
    margin: 1.25rem 0;
}

.table_title {
    font-weight: 600;
    flex-wrap: nowrap;
    flex-shrink: 0;
    font-family: "Noto Sans KR", sans-serif;
}
.main_skill_img {
    width: 1.5rem;
    height: 1.5rem;
}
.main_skill_img1 {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 5px;
}
.main_about_a{
    display: flex;
    align-items: center;
    background-color: rgb(255, 209, 217);
    box-sizing: border-box;
    padding: 0.8rem 1.3rem;
    border-radius: 1.875rem;
    font-family: "Noto Sans KR", sans-serif;
}
.main_about_a:hover{
    background-color: pink;
}
@media (max-width: 1024px) {
    .main_profile_text,
    .main_profile_img {
        width: 100%;
        min-width: 18.75rem;
    }

    .main_profile_img {
        height: auto;
    }
}
