@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.body_container{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}
.header_body{
    width: 1500px;
    display: flex;
    padding: 20px 0 80px;
    justify-content: space-between;
    align-items: center;
}
.project_title{
    font-size: 24px;
    font-family: "DM Sans:Medium", sans-serif;
    font-weight: 500;
}
.header_body ul, .header_body li {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50px;
    background-color: antiquewhite;
    font-family: "DM Sans", sans-serif;
}
.header_body ul {
    padding: 20px 40px;
}
.project_btn{
    padding: 14px 22px;
    border-radius: 30px;
    background-color: pink;
    color: white;
    width: 126px;
    border: none;
    font-family: "DM Sans", sans-serif;
}
.hamburger_img{
    outline: none;
    cursor: pointer;
}
.hamburger_btn{
    border: none;
    display: none;
    margin-top: 5px;
}
.header_left{
    min-width: 108px;
    display: flex;
    justify-content: flex-end;
}
.small_menu{
    position: absolute;
    background-color: white;
    width: 100%;

}
@media (max-width:900px) {
    .project_menu{
        display: none;
    }
    .hamburger_btn{
        display: inline;
    }
}