.main_key {
    font-size: 3.375rem; 
    font-weight: 400;
    flex-wrap: wrap;
    font-family: "Noto Sans KR", sans-serif;
}

.main_sub {
    font-size: 1.25rem;
    font-family: "Noto Sans KR", sans-serif;
}

.line_break{
    display: block;
}
.abil {
    font-family: "Crimson Text", serif;
    font-size: 3.75rem;
    font-weight: 500;
    margin: 0;
}

@media (max-width:960px) {
    .line_break{
        display: inline;
    }
    .main_key{
        font-size: clamp(1.75rem, 3.5vw + 1rem, 3.375rem);
    }
    .abil{
        font-size: clamp(2rem, 6vw + 0.25rem, 3.75rem);
    }
}