.main_key {
    font-size: 3.375rem; 
    font-weight: 400;
    flex-wrap: wrap;
}

.main_sub {
    font-size: 20px;
}

.line_break{
    display: block;
}
@media (max-width:900px) {
    .line_break{
        display: inline;
    }
    .main_key{
        font-size: clamp(24px, 3.5vw + 20px, 54px);
    }
}