.main_key {
    font-size: 3.375rem; 
    font-weight: 400;
    flex-wrap: wrap;
    font-family: "Noto Sans KR", sans-serif;
}

.main_sub {
    font-size: 1.25rem;
    font-family: "Noto Sans KR", sans-serif;
}

.line_break{
    display: block;
}
@media (max-width:900px) {
    .line_break{
        display: inline;
    }
    .main_key{
        font-size: clamp(2rem, 3.5vw + 1rem, 3.375rem);
    }
}