@import url('https://fonts.googleapis.com/css2?family=Chiron+Hei+HK:ital,wght@0,200..900;1,200..900&family=Chiron+Sung+HK:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.myProject_container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));

}

.myProject_list {
    padding: 20px;
    background-color: white;
    margin-top: 40px;
    border-radius: 16px;
    box-sizing: border-box;
    aspect-ratio: 16 / 9;
}

.myProject_list:hover {
    transition: all 0.3s ease;
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.videoPlayer {
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
    box-sizing: border-box;
}

.project_img {
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center 0%;
    overflow: hidden;
    display: block;
}

.project_img::after {
    background: rgba(224, 210, 210, 0.5);
    opacity: 3;
}

.main_skill_number{
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
.main_skill_link{
    display: flex;
    justify-content: space-between;
}
.main_about_a_list{
    display: flex;
    gap: 15px;
}
.main_about_a{
    display: flex;
    align-items: center;
    background-color: rgb(255, 209, 217);
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 30px;
}
.main_skill {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    color: #424242;
}

.main_skill_title {
    font-size: 28px;
    font-weight: 600;
}

.main_skill_img_box {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.main_skill_img {
    width: 30px;
    height: 30px;
}
.main_skill_img1 {
    width: 23px;
    height: 23px;
}
.main_skill_img2 {
    width: auto;
    height: 23px;
    margin-right: 5px;
}

.main_skill_name {
    font-weight: 600;
    font-size: 24px;
    flex-wrap: nowrap;
    width: 100px;
}

.main_skill_explain {
    flex-wrap: wrap;
    font-size: 20px;
    flex: 1
}

.main_skill_explain ul,
.main_skill_explain li {
    margin: 0;
    list-style: none;
    border-radius: 50px;
    font-family: "DM Sans", sans-serif;
    padding: 0;
}

.main_skill2 {
    margin: 20px 0;
    color: #424242;
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.main_skill_text {
    padding: 0 10px;
    box-sizing: border-box;
}